<div style="text-align: center;">
  <h2 style="margin-bottom: 20px;">Welcome to your profile!</h2>
  <div style="background-color: #f9f9f9; padding: 20px; border-radius: 10px; box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1); display: inline-block; text-align: left; width: 450px; max-width: 90%;">

    <div style="margin-bottom: 20px;">
      <p style="font-weight: bold; margin-bottom: 5px;">Username:</p>
      <p style="margin-bottom: 0;">{{ userData.username }}</p>
    </div>

    <div style="margin-bottom: 20px;">
      <p style="font-weight: bold; margin-bottom: 5px;">Password:</p>
      <p style="margin-bottom: 0;">{{ userData.password }}</p>
    </div>

    <div style="margin-bottom: 20px;">
      <p style="font-weight: bold; margin-bottom: 5px;">Email:</p>
      <p style="margin-bottom: 0;">{{ userData.email }}</p>
    </div>

    <div style="margin-bottom: 20px;">
      <p style="font-weight: bold; margin-bottom: 5px;">Phone:</p>
      <p style="margin-bottom: 0;">{{ userData.phone }}</p>
    </div>

    <div style="margin-bottom: 20px;">
      <p style="font-weight: bold; margin-bottom: 5px;">Course:</p>
      <p style="margin-bottom: 0;">{{ userData.course }}</p>
    </div>

  </div>
</div>
